@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

$blueColor: rgb(0, 191, 255);
$errorColor: rgb(255, 78, 78);
$whiteColor: #d3d2d2;
:root {
  --sidebar-open-width: 200px;
  --sidebar-close-width: 60px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif !important;
}

input {
  border: 1.5px solid gray;
  text-align: center;
  border-radius: 5px;
}

.container {
  max-width: 1260px;
  margin-inline: auto;
  padding: 20px 60px;
  // width: 95% !important;
}

@mixin buttonSytle($state) {
  width: 100%;
  max-width: 500px;
  border: none;
  cursor: pointer;
  color: white;
  @if ($state == error) {
    background-color: $errorColor !important;
  } @else {
    background-color: $blueColor !important;
  }
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease;
  &:hover {
    @if ($state == error) {
      background-color: rgba(255, 78, 78, 0.802) !important;
    } @else {
      background-color: rgba(0, 191, 255, 0.817) !important;
    }
  }
}

.btn {
  @include buttonSytle(r);
}
.error-btn {
  @include buttonSytle(error);
}

.MuiBox-root {
  position: relative;
  z-index: 100;
}
@media (max-width: 700px) {
  .container {
    max-width: 1260px;
    margin-inline: auto;
    padding: 20px 30px;
  }
}

.main-div {
  display: flex;
  flex-direction: row-reverse;
  padding-block: 0px;
  padding-inline: 0 !important;
  gap: 20px;
}

.main-div > div {
  height: 100vh;
  flex: 1;
}

.sidebar-open {
  max-width: var(--sidebar-open-width);
  min-width: var(--sidebar-open-width);
  align-items: flex-start !important;
}

.sidebar-close {
  max-width: var(--sidebar-close-width);
  min-width: var(--sidebar-close-width);
}

.map {
  background-color: red;
}

.sidebar-div {
  // background-color: $blueColor;
  background-color: black;
  color: white;
  padding-inline: 19.5px;
  display: flex;
  width: auto;
  transition: 0.3s all ease;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 50px;
  user-select: none;
  overflow: hidden;
}
.sidebar-div a {
  color: white;
  padding-block: 8px;
  margin-bottom: 18px;
  width: calc(var(--sidebar-open-width) - 19.5px * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  position: relative;
  right: 10px;
}

.sidebar-div a:hover {
  color: black;
  background-color: white;
  border-radius: 5px;
}

.sidebar-div > div:first-child {
  width: 100%;
}
.sidebar-div > div:last-child {
  justify-self: flex-end;
}

.sidebar-div svg {
  cursor: pointer;
  font-size: 23px;
}

.sidebar-active-link {
  background-color: white;
  color: black;
}

.map-container {
  width: 100%;
  height: 100%;
}

.no-quantity-icon {
  position: relative;
  &::before {
    content: attr(length);
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -14px;
    right: -11px;
    border-radius: 50%;
  }
}
